{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Log View" %}{% endblock %}

{% block main %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/logmanagement/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/logmanagement/moment.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/logmanagement/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {
    $('#start_date, #end_date').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss'
    });
});
</script>

<div class="container-fluid">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <div class="form-group">
              <label class="col-md-4 control-label" for="selectbasic">Project</label>
              <div class="col-md-8">
                <select id="project" name="project_choose" class="form-control">
                    <option>Nova</option>
                    <option>Glance</option>
                    <option>NeuTron</option>
                    <option>Keystone</option>
                </select>
              </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
              <label class="col-md-4 control-label">Level</label>
              <div class="col-md-8">
                <select id="level" name="level_choose" class="form-control">>
                        <option>ALL</option>
                        <option>ERROR</option>
                        <option>INFO</option>
                        <option>WARN</option>
                        <option>DEBUG</option>
                    </select>
              </div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default">Filter</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
              <label class="col-md-4 control-label">Start</label>
              <div class="col-md-8">
                <input id="start_date" data-format="dd/MM/yyyy hh:mm:ss" type="text" class="form-control" />
              </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
              <label class="col-md-4 control-label">Start</label>
              <div class="col-md-8">
                <input id="end_date" data-format="dd/MM/yyyy hh:mm:ss" data-action="showSeconds" type="datetime" class="form-control" />
              </div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default">Refresh</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            {% include 'logmanagement/view/chart-pandas.html' %}
        </div>
    </div>
</div>

 {{ table.render }}

{% endblock %}
